/* ==============
    MOBILE: Menu
   ============== */
@media only screen and (min-width: 200px) {
nav ul {
    margin: 0;
    padding: 0;
}


body{
	width:100%;
	margin:0;
}
/* ==============
    MOBILE: Main
   ============== */

.main {
    padding: 30px 0;
}

.main article h1 {
    font-size: 2em;
}

.main aside {
    color: white;
    padding: 0px 5% 10px;
}

.footer-container footer {
    color: white;
    padding: 20px 0;
}
/*content start*/

.nav-wrap{
width:100%;
height:85px;

}
.nav{
width:100%;
height: 80px;
}
.logo{
width:100%;
height:55px
}
.nav-menu{
width:100%;
height: 30px;
}
.links > li > a {

margin: 0px 10px 10px 10px;
}
.slideshow{
width:100%;

}
/*style for control of nivo slider start*/
.nivo-directionNav > a {
	position: absolute;
	top: 84%;
	z-index: 9;
	cursor: pointer;
}

.theme-default > .nivoSlider {
	background: none;
	-moz-box-shadow:none;
	box-shadow: none;
}
.theme-default a.nivo-prevNav {
	left: 75%;
}
.theme-default a.nivo-nextNav {

right: 20%;
}
/*style for control of nivo slider end*/
.body-radios-wrap{
width:100%;
height:200px;
}

.radiostation-holder{
	width:80%;
	height:55px;		
	}

.list-radios-quick-tab{
	width:90%;		
}
.list-radios{
	width:100%;	
	height:auto;
	background:#fff;
		
}
/*
.seperator_holder{
		height:70px;
		margin:0 0;
}
*/
.seperator_holder{
		display:none;
}
.body-production-wrap {

background: url("/sites/all/themes/gnb/img/broadcasting-production-inner_bg.png") repeat center center fixed;
}
.broadcasting-production{
	width:90%;

}
.broadcasting-production-main-head{
	width:auto;
}
.broadcasting-production-block-wrapper{
	width:100%;
	
}
.broadcasting-production-subone,
.broadcasting-production-subtwo,
.broadcasting-production-subthree{
	width:100%;
	margin: 5px 0 0 0;
	
}
.broadcasting-production-main-footer{

	width:100%;
	
}
.broadcasting-production-main-footer-splitone{
	width:100%;
	
	text-align: center;
	
	margin:0 auto;
}
.broadcasting-production-main-footer-splittwo{
	width:100%;
	height:auto;
	margin:5px 20px 0 40px;
	
	color:#000;
}

.news-events{
	width:90%;
	
}
.news-events-header{
	width:100%;
	margin:5px 0 0 0;
	height:auto;
}
.for-news-and-events-top{
	display:none;
	
}
.for-news-and-events-bottom{
	display:none;
	
}
.news-events-wrap{
	width:100%;
	height:auto;
	margin: 10px 0 0 0;	
}
.rss-feeds-wrap{
	width:100%;
	margin:5px 0 5px 0;
	height:auto;
	float:left;
}
.rss-feeds-head{
	width:96%;
	margin:0 2%;
	
}
.news-events-sub-head-1{
	width:80%;
	margin:0 5px;
	
}
.news-events-sub-head-2{
	width:80%;
	height:auto;
	margin:-10px 5px 0 5px;
	
}
.news-events-head-image{
	width:12%;
	height:auto;
	
}
.rss-feeds{
	width:96%;
	margin:0 2%;

}
.gallery-wrap{
	width:100%;
	margin:5px 0 5px 0;
	height:auto;
	float: left;

}
.gallery-head{
	width:96%;
	margin:0 2%;

}
.gallery{
	width:96%;
	margin:0 2%;
	height: 370px
	
}
.gallery-thumbnail > a > img{
	width:69px;
	height:55px;
	margin:10px 10px 0 0;
	border:4px solid #F1F1F1;
	float:left;

}
.news-letter{
	width:100%;
	margin:5px 0;
	height:auto;
}
.news-events-head-image-newsletter{
	width:20%;
	height:auto;
	

}
.news-events-newsletter-sub-head-1{
	width:75%;
	
	
}
.news-events-newsletter-sub-head-2{
	
	width:75%;
	
	
}


.sub-footer{
	width:90%;
	
}
.sub-footer-more-button{
	width:60%;
	height:40px;
	
}
.sub-footer-block{
	width:100%;
	
}
.sub-footer-block-subone,
.sub-footer-block-subtwo,
.sub-footer-block-subthree,
.sub-footer-block-subfour{
	width:100%;
	height:auto;
	margin: 5px 0 0 0;
}
.sub-footer-block-subfour{
	margin-bottom:5px;
}

.fb-block{


 width: 98%;

}

.footer-gnb{
	width:100%;
}
.footer-copyright{
	width:100%;
	font-size:9px;
	margin:0 0 0 0;
	
}

.footer-menu-list{
	display:none;
}
/*content end*/

}
