@media only screen and (min-width: 480px) {

/* ====================
    INTERMEDIATE: Menu
   ==================== */

    nav a {
        float: left;
        width: 27%;
        margin: 0 1.7%;
        padding: 25px 2%;
        margin-bottom: 0;
    }

    nav li:first-child a {
        margin-left: 0;
    }

    nav li:last-child a {
        margin-right: 0;
    }

/* ========================
    INTERMEDIATE: IE Fixes
   ======================== */

    nav ul li {
        display: inline;
    }

    .oldie nav a {
        margin: 0 0.7%;
    }


/*content start*/

.nav-wrap{
width:100%;
height:auto;
background:black;
display:inline-block;
}
.nav{
width:100%;
height: 30px;
background:yellow;
margin:0 auto;
}
.logo{
width:30%;
height:40px;
background:url("/sites/all/themes/gnb/img/logo.png") no-repeat;
background-size:100% 100%;
float:left;
}
.nav-menu{
width:70%;
height: 40px;
background:blue;
color:#fff;
float:left;
}
.white-strip{
width:100%;
background-color:white;
height:6px;
}
.slideshow-wrap{
width:100%;
height: auto;
background: url('../img/slider_bg.png') repeat scroll 0% 0% transparent;
display:inline-block;
}
.slideshow{
width:100%;
margin:0 auto;
}
.theme-default > .nivoSlider {
	background: none;
	-moz-box-shadow:none;
	box-shadow: none;
}
.body-radios-wrap{
width:100%;
height:200px;
background:url("/sites/all/themes/gnb/img/list-radios_bg.png");
display:inline-block;
background-repeat:repeat-x;	
margin: -10px 0 0 0;
}
.orange-strip-wrap {
width:100%;
background-color:#e95b47;
height:10px;

}
.orange-strip {
width:100%;
margin:0 auto;
background-color:#e95b47;
height:10px;
}
.radiostation-holder-wrap{
	width:100%;	
	height:auto;
	background-repeat:repeat-x;	
	margin:0;
	display:inline-block;
}
.radiostation-holder{
	width:60%;
	height:50px;
	display:block;
	margin:0 auto;
	background:url("/sites/all/themes/gnb/img/listradioheader.png");
	background-size:100% 100%;
	background-repeat:no-repeat;
	background-position:top center;
		
	}
.list-radios-quick-tab-wrap{
	width:100%;	
	height:auto;
	display:inline-block;
}
.list-radios-quick-tab{
	width:90%;	
	height:auto;
	margin:0 auto;
	
}
.list-radios{
	width:100%;	
	height:auto;
	background:#fff;
	margin-top:60px;
	
}
.seperator_holder{
		text-align:center;
		background-image:url("/sites/all/themes/gnb/img/saparator2.png");
		background-position:top center;
		background-repeat:no-repeat;
		height:70px;
		margin:0 0;
}

.body-production-wrap{
	width:100%;	
	height:auto;
	display:inline-block;
	background:url("/sites/all/themes/gnb/img/broadcasting-production-inner_bg.png");
}
.broadcasting-production{
	width:90%;
	margin:0 auto;
	height:auto;
	
}
.broadcasting-production-main-head{
	width:auto;
	margin:0 auto;
	display:block;
	color:white;
}
.broadcasting-production-block-wrapper{
	width:100%;
	background-color:transparent;
	display:inline-block;
	margin:0 auto;
}
.broadcasting-production-subone,
.broadcasting-production-subtwo,
.broadcasting-production-subthree{
	width:275px;
	height:auto;
	float: none;
	margin: 5px auto 0 auto;
	display:block;
}
.broadcasting-footer-seperator{
	background:url("/sites/all/themes/gnb/img/separator.png");
		
}
.broadcasting-production-main-footer{
	color:white;
	width:100%;
	display:inline-block;
}
.broadcasting-production-main-footer-splitone{
	width:100%;
	font-family: Titilium-semibold;
	text-align: center;
	font-size: 14px;
	font-style: normal;
	color: #666;
	margin:0 auto;
}
.broadcasting-production-main-footer-splittwo{
	width:100%;
	height:40px;
	float:left;
	margin:5px auto;
	
	color:#000;
}
.broacasting-footer-bootom{
	padding-bottom:10px;
}
.body-news-events-wrap{
	width:100%;
	display:inline-block;
	background:url(../img/list-radios_bg.png);
}
.news-events{
	width:90%;
	margin:0 auto;
}
.news-events-header{
	width:100%;
	margin:5px 0 0 0;
	height:auto;
}
.news-events-wrap{
	width:100%;
	background:none;
	display:inline-block;
}


.rss-feeds-wrap{
	width:100%;
	margin:5px 0 5px 0;
	height:auto;
	float:left;
	display:inline-block;
	background:#fff;
}
.rss-feeds-head{
	width:100%;
	margin:0 0;
	height:auto;
	float:left;
}

.news-events-sub-head-1{
	width:80%;
	font-size:16px;
	color:#333;
	height:5px;
	margin:0 5px;
	
}
.news-events-sub-head-2{
	font-size:10px;
	color:#ccc;
	width:80%;
	height:auto;
	margin:-10px 5px 0 5px;
	
}
.news-events-head-image{
	width:15%;
	height:auto;
	float:left;
}


.rss-feeds{
	width:100%;
	margin:0 0;
	height:auto;
	float:left;
	
}

.gallery-wrap{
	width:100%;
	margin:5px 0 5px 0;
	background:#fff;
	height:auto;
	float:left;
}
.gallery-head{
	width:100%;
	margin:0 0;
	height:auto;
	float:left;
}
.gallery{
	width:100%;
	margin:0 0;
	height:auto;
	float:left;
}


.news-letter{
	width:100%;
	margin:5px 0 0 0;
	height:auto;
}

.news-events-head-image-newsletter{
	width:20%;
	height:auto;
	float:left;
	margin:5px 5px;

}
.news-events-newsletter-sub-head-1{
	width:75%;
	font-size:16px;
	color:#333;
	height:5px;
	margin:0 5px;
	
}
.news-events-newsletter-sub-head-2{
	font-size:11px;
	color:#ccc;
	width:75%;
	height:auto;
	margin:-10px 5px 0 5px;
	
}
.news-events-newsletter-sub-head-2> a{
	text-decoration: none;
	color:#ccc;
}

.news-bottom{
	padding-bottom:30px;
}
.sub-footer-wrap{
	width:100%;
	display:inline-block;
	background-color:#2B2B2B !important;
	
}
.sub-footer{
	width:90%;
	margin:0 auto;
}
.sub-footer-more-button{
	width:35%;
	height:25px;
	margin:-10px auto 0 auto;
	background:url("/sites/all/themes/gnb/img/morebutton.png");
	background-size:100% 100%;
}
.sub-footer-block{
	width:100%;
	display:inline-block;
	margin:0 auto;
}
.sub-footer-block-subone,
.sub-footer-block-subtwo,
.sub-footer-block-subthree,
.sub-footer-block-subfour{
	width:256px;
	height:40px;
	background:#fff;
	float: none;
	margin: 5px auto 0 auto;
}
.sub-footer-block-subfour{
	margin-bottom:5px;
}
.footer-gnb-wrapper{
	width:100%;
	background-color:#242424;
	display:inline-block;
}
.footer-gnb{
	width:100%;
	margin:0 auto;
}
.footer-copyright{
	width:100%;
	float:left;
	color:#ccc;
	font-size:12px;
	margin:0 0 0 0;
}

.footer-menu-list{
	display:none;
}
/*content end*/


}

