@media only screen and (min-width: 480px) {

/* ====================
    INTERMEDIATE: Menu
   ==================== */

   

/* ========================
    INTERMEDIATE: IE Fixes
   ======================== */

    nav ul li {
        display: inline;
    }

    .oldie nav a {
        margin: 0 0.7%;
    }


/*content start*/
.nav-wrap {

height: auto;
}
.nav{
width:100%;
height: 40px;
}
.logo{
width:30%;
height:40px;

}
.nav-menu{
width:70%;
height: 40px;

}

.links > li > a {
margin: 10px 10px 10px 10px;
}
.slideshow{
width:100%;


}
/*style for control of nivo slider start*/



.theme-default a.nivo-prevNav {
	left: 75%;
}
.theme-default a.nivo-nextNav {

right: 20%;
}
/*style for control of nivo slider end*/



.radiostation-holder{
	width:60%;
	height:50px;
	
	}
.list-radios-quick-tab{
	width:90%;	
	
	
}
.list-radios{
	width:100%;	
	
	
}
.seperator_holder{
		
		height:70px;
		margin:0 0;
}

.broadcasting-production{
	width:90%;
	
	
}
.broadcasting-production-main-head{
	width:auto;
	
}
.broadcasting-production-block-wrapper{
	width:100%;
	
}
.broadcasting-production-subone,
.broadcasting-production-subtwo,
.broadcasting-production-subthree{
	width:275px;
	float: none;
	margin:0 auto;
}

.broadcasting-production-main-footer{
	
	width:100%;
	
}
.broadcasting-production-main-footer-splitone{
	width:100%;
	margin:0 auto;
}
.broadcasting-production-main-footer-splittwo{
	width:50%;
	height:auto;
	margin:5px auto 0 auto;
	float: none;
	
}

.news-events{
	width:90%;
	
}
.news-events-header{
	width:100%;
	margin:5px 0 0 0;

}
.for-news-and-events-top{
	width:96%;
	
}
.for-news-and-events-bottom{
	width:96%;
	
}
.news-events-wrap{
	width:100%;
	
}
.rss-feeds-wrap{
	width:100%;
	margin:5px 0 5px 0;
	height:auto;
	
}
.rss-feeds-head{
	width: 96%;
	margin: 0 2%;
	
}
.news-events-sub-head-1{
	width:80%;
	margin:0 5px;
	
}
.news-events-sub-head-2{
	
	width:80%;
	
	margin:-10px 5px 0 5px;
	
}
.news-events-head-image{
	width:10%;
	height:auto;
	
}
.rss-feeds{
	width: 96%;
	margin: 0 2%;
	
	
}
.gallery-wrap{
	width:100%;
	margin:5px 0 5px 0;

	height:auto;

}
.gallery-head{
	width: 96%;
	margin: 0 2%;
	
}
.gallery{
	width: 96%;
	margin: 0 2%;
	height: 210px;
}
.gallery-thumbnail > a > img{
	width:62px;
	height:50px;
	margin:10px 10px 0 0;
	border:4px solid #F1F1F1;
	float:left;

}
.news-letter{
	width:100%;
	
}
.news-events-head-image-newsletter{
	width:20%;
	height:75px;
	

}
.news-events-newsletter-sub-head-1{
	width:75%;

	
}
.news-events-newsletter-sub-head-2{
	
	width:75%;
	
	
}

.sub-footer{
	width:90%;
	
}
.sub-footer-more-button{
	width:35%;
	height:25px;

}
.sub-footer-block{
	width:100%;
	
}
.sub-footer-block-subone,
.sub-footer-block-subtwo,
.sub-footer-block-subthree,
.sub-footer-block-subfour{
	width:256px;
	margin: 5px auto 0 auto;
	float: none;
}
.sub-footer-block-subfour{
	margin-bottom:5px;
}

.fb-block{


 width: 256px;

}

.footer-gnb{
	width:100%;
	
}
.footer-copyright{
	width:100%;
	
	margin:0 0 0 0;
}

.footer-menu-list{
	display:none;
}
/*content end*/


}

